  <template>
<div class="About">
<h1>about Page</h1>
  </div>
     </template>
     
     <script>
  // @ is an alias to /src
import NavBar from "@/components/NavBar";


     export default {
       name: 'AboutView',
       components: {
    HousesCards,
    NavBar
  },
        LayoutDefaultDynamic,
        Layout,
       };
     </script>